<h2>
  <%= @book.title %>
</h2>

<p id="notice"><%= notice %></p>

<div class="span-12">
  <%= image_tag(@book.cover_medium, :width => "400") %>
</div>

<div class="span-12">
<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Published date:</b>
  <%= @book.published_date %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Isbn 10:</b>
  <%= @book.isbn_10 %>
</p>

<p>
  <b>Page count:</b>
  <%= @book.page_count %>
</p>

<p>
  <b>Average rating:</b>
  <%= @book.average_rating %>
</p>

<p>
  <b>Ratings count:</b>
  <%= @book.ratings_count %>
</p>

<p>
  <%= link_to("Preview link", @book.preview_link) %>
</p>

<p>
  <%= link_to("Info link", @book.info_link) %>
</p>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
