<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @book.id %>
</p>

<p>
  <b>Selflink:</b>
  <%= @book.selfLink %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @book.subtitle %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
